<link rel="import" href="/bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="/components/game-list/game-list.html">
<link rel="import" href="/components/path-selector/path-selector.html">

<polymer-element name="my-games" attributes="subscriber user leaver joiner">
  <template>
	  <style>
			paper-tabs::shadow > * {
				height: 1.75em;
			}
			paper-tabs {
				height: 1.75em;
			}
	  </style>
		<paper-tabs valueattr="path" selected="{{ path }}" self-end>
		  <paper-tab path="/">Running</paper-tab>
		  <paper-tab path="/games/mine/forming">Forming</paper-tab>
		  <paper-tab path="/games/mine/finished">Finished</paper-tab>
		</paper-tabs>
		<path-selector path="{{ path }}">
		  <div path="/">
				<div cross-fade>
					<game-list user="{{ user }}" joiner="{{ joiner }}" leaver="{{ leaver }}" games="{{ runningGames }}"></game-list>
				</div>
			</div>
			<div path="/games/mine/forming">
				<div cross-fade>
					<game-list user="{{ user }}" joiner="{{ joiner }}" leaver="{{ leaver }}" games="{{ formingGames }}"></game-list>
				</div>
			</div>
		  <div path="/games/mine/finished">
				<div cross-fade>
					<game-list user="{{ user }}" joiner="{{ joiner }}" leaver="{{ leaver}}" games="{{ finishedGames }}"></game-list>
				</div>
			</div>
		</path-selector>
	</template>
	<script>
		Polymer({
			filterGamesByState: function(games, state) {
				var result = _.filter(games, function(game) {
					return game.State == state;
				});
				return result;
			},
			gameStates: GameStates,
			computed: {
				runningGames: 'filterGamesByState(games, gameStates.Started)',
				formingGames: 'filterGamesByState(games, gameStates.Created)',
				finishedGames: 'filterGamesByState(games, gameStates.Ended)',
			},
			ready: function() {
				this.games = [];
				this.gamesSubscription = {
					get: function() {
						return this.games;
					}.bind(this),
					set: function(g) {
						this.games = g;
					}.bind(this),
				};
				this.subscriber.subscribe('/games/mine', this.gamesSubscription);
			},
			detached: function() {
				this.subscriber.unsubscribe('/games/mine', this.gamesSubscription);
			},
		});
	</script>
</polymer-element>



