<link rel="import" href="/bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="/components/game-list/game-list.html">
<link rel="import" href="/components/path-selector/path-selector.html">

<polymer-element name="my-games" attributes="subscriber user">
  <template>
	  <style>
			paper-tabs::shadow > * {
				height: 28px;
			}
			paper-tabs {
				height: 28px;
			}
	  </style>
		<paper-tabs valueattr="path" selected="{{ path }}" self-end>
		  <paper-tab path="/">Running</paper-tab>
		  <paper-tab path="/games/mine/forming">Forming</paper-tab>
		  <paper-tab path="/games/mine/finished">Finished</paper-tab>
		</paper-tabs>
		<path-selector path="{{ path }}">
		  <div path="/">
				<div cross-fade>
					<game-list user="{{ user }}" games="{{ runningGames }}"></game-list>
				</div>
			</div>
			<div path="/games/mine/forming">
				<div cross-fade>
					<game-list user="{{ user }}" games="{{ formingGames }}"></game-list>
				</div>
			</div>
		  <div path="/games/mine/finished">
				<div cross-fade>
					<game-list user="{{ user }}" games="{{ finishedGames }}"></game-list>
				</div>
			</div>
		</path-selector>
	</template>
	<script>
		Polymer({
			filterGamesByState: function(games, state) {
				var result = _.filter(games, function(game) {
					return game.State == state;
				});
				return result;
			},
			gameStates: GameStates,
			computed: {
				runningGames: 'filterGamesByState(games, gameStates.started)',
				formingGames: 'filterGamesByState(games, gameStates.created)',
				finishedGames: 'filterGamesByState(games, gameStates.ended)',
			},
			ready: function() {
				this.games = [];
				this.message = function(msg) {
					switch (msg.Type) {
						case 'Fetch':
						this.games = msg.Object.Data;
						break;
						case 'Create':
						this.games.push(msg.Object.Data);
						break;
						case 'Update':
						this.games = _.reject(this.games, function(g) {
							return g.Id == msg.Object.Data.Id;
						}).push(msg.Object.Data);
						case 'Delete':
						this.games = _.reject(this.games, function(g) {
							return g.Id == msg.Object.Data.Id;
						})
					}
				}.bind(this);
				this.subscriber.subscribe('/games/mine', this.message);
			},
			detached: function() {
				this.subscriber.unsubscribe('/games/mine', this.message);
			},
		});
	</script>
</polymer-element>



