<link rel="import" href="/bower_components/paper-button/paper-button.html">

<polymer-element name="preferences-list" attributes="list">
  <template>
	  <style>
			paper-button {
				margin-bottom: 0.5em;
				text-transform: none !important;
			}
		</style>
		<template repeat="{{ el in list }}">
		  <paper-button flex layout vertical on-click="{{ bumpEl }}" raised>{{ el }}</paper-button>
		</template>
	</template>
	<script>
		Polymer({
			bumpEl: function(ev) {
				var clicked = ev.target.innerText;
				var before = null;
				var last = null;
				_.each(this.list, function(el) {
					if (el == clicked) {
						before = last;
					}
					last = el;
				}.bind(this));
				if (before != null) {
					this.list = _.collect(this.list, function(el) {
						if (el == clicked) {
							return before;
						} else if (el == before) {
							return clicked;
						} else {
							return el;
						}
					});
				}
			},
		});
	</script>
</polymer-element>






