<div class="panel-heading accordion-toggle" data-toggle="collapse" data-parent="#chat-channels" href="#game_<%- model.cid %>_channel_<%- name %>">
	<h4 class="panel-title">
		<%- title %>
	</h4>
</div>
<div id="game_<%- model.cid %>_channel_<%- name %>" class="channel collapse">
	<div class="panel-body">
		<form class="form-horizontal create-message-form" role="form">
			<button type="button" class="btn btn-primary create-message-button">{{.I "Send"}}</button>
			<div class="new-message-container">
				<textarea class="new-message-body" id="new-message-<%- name %>"></textarea>
			</div>
		</form>
		<table class="table condensed chat-messages">
		</table>
	</div>
</div>
