<div data-role="header" data-position="fixed">
	<a data-icon="home" href="" class="navigate">{{.I "Home" }}</a>
	<h1><span class="email-at"></span>{{.I "Diplicity" }}</h1>
	<a data-icon="gear" href="#menu">{{.I "Menu" }}</a>
</div>
<div data-role="content">
	<a href="/login" class="when-logged-out" data-role="button">{{.I "Log in to create a game" }}</a>
	<div class="when-logged-in create-game">
	</div>
</div>
<div data-role="footer" data-position="fixed">
	<div data-role="navbar">
		<ul>
			<li><a href="/" class="navigate">{{.I "Games" }}</a></li>
			<li><a href="/open" class="navigate">{{.I "Join" }}</a></li>
			<li><a class="ui-btn-active ui-state-persist" href="/create" class="navigate">{{.I "Create" }}</a></li>
			<li><a href="/history" class="navigate">{{.I "History" }}</a></li>
		</ul>
	</div>
</div>
