<% if (window.session.user.loggedIn()) { %>
<div class="panel-group" id="current-games">
</div>
<div class="bottom-aligned btn-group btn-group-justified buttons">
	<a href="/" class="btn filter-button filter-Running" data-state="{{.GameState "Started" }}">{{.I "Running" }}</a>
	<a href="/forming" class="btn filter-button filter-Forming" data-state="{{.GameState "Created" }}">{{.I "Forming" }}</a>
	<a href="/finished" class="btn filter-button filter-Finished" data-state="{{.GameState "Ended" }}">{{.I "Finished" }}</a>
</div>
<% } else { %>
<a href="/login?return_to={{.Abs "/"}}" class="btn btn-primary btn-lg btn-block">{{.I "Log in to see your games" }}</a>
<% } %>
