<select>
	<option value="5"><%= {{.I "phase_types" }}[phaseType] %>: {{.I "5 minutes"}}</option>
	<option value="10"><%= {{.I "phase_types" }}[phaseType] %>: {{.I "10 minutes"}}</option>
	<option value="20"><%= {{.I "phase_types" }}[phaseType] %>: {{.I "20 minutes"}}</option>
	<option value="30"><%= {{.I "phase_types" }}[phaseType] %>: {{.I "30 minutes"}}</option>
	<option value="60"><%= {{.I "phase_types" }}[phaseType] %>: {{.I "1 hour"}}</option>
	<option value="120"><%= {{.I "phase_types" }}[phaseType] %>: {{.I "2 hours"}}</option>
	<option value="240"><%= {{.I "phase_types" }}[phaseType] %>: {{.I "4 hours"}}</option>
	<option value="480"><%= {{.I "phase_types" }}[phaseType] %>: {{.I "8 hours"}}</option>
	<option value="720"><%= {{.I "phase_types" }}[phaseType] %>: {{.I "12 hours"}}</option>
	<option value="1440" selected="selected"><%= {{.I "phase_types" }}[phaseType] %>: {{.I "24 hours"}}</option>
	<option value="2880"><%= {{.I "phase_types" }}[phaseType] %>: {{.I "2 days"}}</option>
	<option value="4320"><%= {{.I "phase_types" }}[phaseType] %>: {{.I "3 days"}}</option>
	<option value="5760"><%= {{.I "phase_types" }}[phaseType] %>: {{.I "4 days"}}</option>
	<option value="7200"><%= {{.I "phase_types" }}[phaseType] %>: {{.I "5 days"}}</option>
	<option value="10080"><%= {{.I "phase_types" }}[phaseType] %>: {{.I "1 week"}}</option>
	<option value="14400"><%= {{.I "phase_types" }}[phaseType] %>: {{.I "10 days"}}</option>
	<option value="20160"><%= {{.I "phase_types" }}[phaseType] %>: {{.I "2 weeks"}}</option>
</select>
