<div class="game-controls-right">
	<span class="time-left"></span>
	<a class="btn btn-primary btn-sm commit-phase commit-button" title="{{.I "Commit" }}" href="#">
		<span class="glyphicon glyphicon-ok commit-button"></span>
	</a>
	<a class="btn btn-primary btn-sm phase-step previous-phase" disabled="disabled" title="{{.I "Back" }}" href="#">
		<span class="glyphicon glyphicon-step-backward"></span>
	</a>
	<a class="btn btn-primary btn-sm phase-step later-phase next-phase" disabled="disabled" title="{{.I "Forward" }}" href="#">
		<span class="glyphicon glyphicon-step-forward"></span>
	</a>
	<a class="btn btn-primary btn-sm phase-step later-phase last-phase" disabled="disabled" title="{{.I "Last" }}" href="#">
		<span class="glyphicon glyphicon-fast-forward"></span>
	</a>
</div>
<div class="game-controls-left">
	<span class="unseen-messages"></span>
	<a class="btn btn-primary btn-sm view-map" title="{{.I "Map" }}" href="#">
		<span class="glyphicon glyphicon-picture"></span>
	</a>
	<a class="btn btn-primary btn-sm view-planner" title="{{.I "Planner" }}" href="#">
		<span class="glyphicon glyphicon-pushpin"></span>
	</a>
	<a class="btn btn-primary btn-sm view-chat" title="{{.I "Chat" }}" href="#">
		<span class="glyphicon glyphicon-user"></span>
	</a>
	<a class="btn btn-primary btn-sm view-orders" title="{{.I "Orders" }}" href="#">
		<span class="glyphicon glyphicon-hand-right"></span>
	</a>
	<a class="btn btn-primary btn-sm view-results" title="{{.I "Results" }}" href="#">
		<span class="glyphicon glyphicon-bell"></span>
	</a>
	<span class="end-reason"></span>
</div>
<div class="game-control-container"></div>
