<div class="game-state-heading panel-heading<%- editable ? '' : ' accordion-toggle' %>" <%= editable ? '' : 'data-toggle="collapse" ' %>data-parent="#<%- parentId %>" href="#game-<%- model.cid %>">
	<div class="view-game">
		<% if (!editable) { %>
		<%   if (play_state) { %>
		<a class="btn btn-primary btn-sm view-game navigate" title="{{.I "Games" }}" href="/">
			<span class="glyphicon glyphicon-list"></span>
		</a>
		<%   } else { %>
		<a class="btn btn-primary btn-sm view-game navigate" title="{{.I "Play" }}" href="/games/<%- encodeURIComponent(model.get('Id')) %>">
			<span class="glyphicon glyphicon-play"></span>
		</a>
		<%   } %>
		<% } %>
	</div>
	<div class="urgency-bar"></div>
	<h4 class="panel-title game-description-container">
		<span class="unseen-messages"><%- unseenMessages %></span>
		<a class="game-description">
			<%= editable ? '' : '<span class="glyphicon glyphicon-chevron-right"></span> ' %><%- model.describe() %>
		</a>
	</h4>
</div>
<div id="game-<%- model.cid %>" class="game <%= classes.join(" ") %>">
	<div class="panel-body">
		<div class="panel-group">
			<div class="panel panel-default">
				<div class="panel-heading" class="accordion-toggle" data-toggle="collapse" href="#game-<%- model.cid %>-players">
					<h4 class="panel-title">
						<a>
							<span class="glyphicon glyphicon-chevron-right"></span> <%- '{{.I "{0}/{1} players" }}'.format(model.get('Members').length, variantNations(model.get('Variant')).length) %>
						</a>
					</h4>
				</div>
				<div id="game-<%- model.cid %>-players" class="players panel-collapse collapse<%- membersExpanded ? ' in' : '' %>">
					<table class="table table-condensed game-players">
					</table>
				</div>
			</div>
		</div>
		<% if (editable) { %>
		<div class="panel-group phase-types" id="game-<%- model.cid %>-phase-types">
		</div>
		<form role="form">
			<div class="form-group">
				<label for="game-<%- model.cid %>-variant">{{.I "Variant" }}</label>
				<select id="game-<%- model.cid %>-variant" class="form-control game-variant">
				</select>	
			</div>
			<div class="form-group">
				<label for="game-<%- model.cid %>-allocation-method">{{.I "Allocation method" }}</label>
				<select id="game-<%- model.cid %>-allocation-method" class="form-control game-allocation-method">
				</select>	
			</div>
			<div class="form-group">
				<input <%= model.get('Private') ? 'checked="checked" ' : '' %>type="checkbox" id="game-<%- model.cid %>-private" class="game-private">
				<label for="game-<%- model.cid %>-private">{{.I "Private" }}</label>
			</div>
			<div class="form-group">
				<input <%= model.get('Ranking') ? 'checked="checked" ' : '' %>type="checkbox" id="game-<%- model.cid %>-ranking" class="game-ranking">
				<label for="game-<%- model.cid %>-ranking">{{.I "Ranking" }}</label>
			</div>
			<div class="form-group">
				<table class="table table-condensed">
					<tr>
						<th></th>
						<th>{{.I "Before" }}</th>
						<th>{{.I "During" }}</th>
						<th>{{.I "After" }}</th>
					</tr>
					<tr>
						<td>{{.I "Secret email" }}</td>
						<td><input <%= (model.get('SecretEmail') & {{.SecretFlag "BeforeGame"}}) == {{.SecretFlag "BeforeGame"}} ? 'checked="checked" ' : '' %>type="checkbox" data-secret-flag="{{.SecretFlag "BeforeGame" }}" data-secret-type="SecretEmail" class="game-secret-flag"></td>
						<td><input <%= (model.get('SecretEmail') & {{.SecretFlag "DuringGame"}}) == {{.SecretFlag "DuringGame"}} ? 'checked="checked" ' : '' %>type="checkbox" data-secret-flag="{{.SecretFlag "DuringGame" }}" data-secret-type="SecretEmail" class="game-secret-flag"></td>
						<td><input <%= (model.get('SecretEmail') & {{.SecretFlag "AfterGame"}}) == {{.SecretFlag "AfterGame"}} ? 'checked="checked" ' : '' %>type="checkbox" data-secret-flag="{{.SecretFlag "AfterGame" }}" data-secret-type="SecretEmail" class="game-secret-flag"></td>
					</tr>
					<tr>
						<td>{{.I "Secret nickname" }}</td>
						<td><input <%= (model.get('SecretNickname') & {{.SecretFlag "BeforeGame"}}) == {{.SecretFlag "BeforeGame"}} ? 'checked="checked" ' : '' %>type="checkbox" data-secret-flag="{{.SecretFlag "BeforeGame" }}" data-secret-type="SecretNickname" class="game-secret-flag"></td>
						<td><input <%= (model.get('SecretNickname') & {{.SecretFlag "DuringGame"}}) == {{.SecretFlag "DuringGame"}} ? 'checked="checked" ' : '' %>type="checkbox" data-secret-flag="{{.SecretFlag "DuringGame" }}" data-secret-type="SecretNickname" class="game-secret-flag"></td>
						<td><input <%= (model.get('SecretNickname') & {{.SecretFlag "AfterGame"}}) == {{.SecretFlag "AfterGame"}} ? 'checked="checked" ' : '' %>type="checkbox" data-secret-flag="{{.SecretFlag "AfterGame" }}" data-secret-type="SecretNickname" class="game-secret-flag"></td>
					</tr>
					<tr>
						<td>{{.I "Secret nation" }}</td>
						<td><input <%= (model.get('SecretNation') & {{.SecretFlag "BeforeGame"}}) == {{.SecretFlag "BeforeGame"}} ? 'checked="checked" ' : '' %>type="checkbox" data-secret-flag="{{.SecretFlag "BeforeGame" }}" data-secret-type="SecretNation" class="game-secret-flag"></td>
						<td><input <%= (model.get('SecretNation') & {{.SecretFlag "DuringGame"}}) == {{.SecretFlag "DuringGame"}} ? 'checked="checked" ' : '' %>type="checkbox" data-secret-flag="{{.SecretFlag "DuringGame" }}" data-secret-type="SecretNation" class="game-secret-flag"></td>
						<td><input <%= (model.get('SecretNation') & {{.SecretFlag "AfterGame"}}) == {{.SecretFlag "AfterGame"}} ? 'checked="checked" ' : '' %>type="checkbox" data-secret-flag="{{.SecretFlag "AfterGame" }}" data-secret-type="SecretNation" class="game-secret-flag"></td>
					</tr>
				</table>
				<table class="table table-condensed">
					<tr>
						<th></th>
						<th>{{.I "Reliability hit"}}</th>
						<th>{{.I "No wait"}}</th>
						<th>{{.I "Surrender"}}</th>
					</tr>
					<tr>
						<td>{{.I "Not committing" }}</td>
						<td><input <%= (model.get('NonCommitConsequences') & {{.Consequence "ReliabilityHit"}}) == {{.Consequence "ReliabilityHit"}} ? 'checked="checked" ' : '' %>type="checkbox" data-consequence="{{.Consequence "ReliabilityHit" }}" data-consequence-type="NonCommit" class="game-consequence"></td>
						<td><input <%= (model.get('NonCommitConsequences') & {{.Consequence "NoWait"}}) == {{.Consequence "NoWait"}} ? 'checked="checked" ' : '' %>type="checkbox" data-consequence="{{.Consequence "NoWait" }}" data-consequence-type="NonCommit" class="game-consequence"></td>
						<td><input <%= (model.get('NonCommitConsequences') & {{.Consequence "Surrender"}}) == {{.Consequence "Surrender"}} ? 'checked="checked" ' : '' %>type="checkbox" data-consequence="{{.Consequence "Surrender" }}" data-consequence-type="NonCommit" class="game-consequence"></td>
					</tr>
					<tr>
						<td>{{.I "Not committing + NMR" }}</td>
						<td><input <%= (model.get('NMRConsequences') & {{.Consequence "ReliabilityHit"}}) == {{.Consequence "ReliabilityHit"}} ? 'checked="checked" ' : '' %>type="checkbox" data-consequence="{{.Consequence "ReliabilityHit" }}" data-consequence-type="NMR" class="game-consequence"></td>
						<td><input <%= (model.get('NMRConsequences') & {{.Consequence "NoWait"}}) == {{.Consequence "NoWait"}} ? 'checked="checked" ' : '' %>type="checkbox" data-consequence="{{.Consequence "NoWait" }}" data-consequence-type="NMR" class="game-consequence"></td>
						<td><input <%= (model.get('NMRConsequences') & {{.Consequence "Surrender"}}) == {{.Consequence "Surrender"}} ? 'checked="checked" ' : '' %>type="checkbox" data-consequence="{{.Consequence "Surrender" }}" data-consequence-type="NMR" class="game-consequence"></td>
					</tr>
				</table>
			</div>
		</form>
		<% } else { %>
		<table class="table table-condensed phase-types">
			<tr>
				<td>{{.I "Variant"}}</td>
				<td><%- variantName(model.get('Variant')) %></td>
			</tr>
			<tr>
				<td>{{.I "Allocation method"}}</td>
				<td><%- allocationMethodName(model.get('AllocationMethod')) %><%- model.me() != null && model.me().PreferredNations != null ? ': ' + model.me().PreferredNations.join(", ") : '' %></td>
			</tr>
			<tr>
				<td>{{.I "Public"}}</td>
				<td><%- model.get('Private') ? '{{.I "No" }}' : '{{.I "Yes" }}' %></td>
			</tr>
			<tr>
				<td>{{.I "Ranking"}}</td>
				<td><%- model.get('Ranking') ? '{{.I "Yes" }}' : '{{.I "No" }}' %></td>
			</tr>
			<tr>
				<td>{{.I "Not committing" }}</td>
				<td><%- model.consequences('NonCommit') %></td>
			</tr>
			<tr>
				<td>{{.I "Not committing + NMR" }}</td>
				<td><%- model.consequences('NMR') %></td>
			</tr>
		</table>
		<% } %>
		<% if (model.get('State') == {{.GameState "Created" }}) { %>
		<button type="button" class="btn btn-primary btn-lg btn-block game-state-button"><%- button_text %></button>
		<% } %>
	</div>
</div>
