<h3 class="description"><%- model.describe() %></h3>
<% if (editable) { %>
<select class="create-game-variant">
</select>
<select class="create-game-allocation-method">
</select>
<% } else { %>
<%   if (!model.get('SecretEmail') || !model.get('SecretNickname')) { %>
<div data-role="collapsible" class="member-list">
	<h3><%- '{{.I "{0}/{1} players" }}'.format(model.get('Members').length, variantNations(model.get('Variant')).length ) %></h3>
</div>
<%   } else { %>
<h3><%- '{{.I "{0}/{1} players" }}'.format(model.get('Members').length, variantNations(model.get('Variant')).length ) %></h3>
<%   } %>
<% } %>
<h3>{{.I "Variant" }}: <%- variantName(model.get('Variant')) %></h3>
<h3>{{.I "Allocation method" }}: <%- allocationMethodName(model.get('AllocationMethod')) %><%- (model.me() != null && model.me().PreferredNations != null) ? ': ' + model.me().PreferredNations.join(', ') : '' %></h3>
<div data-role="collapsible-set" class="phase-types">
</div>
<% if (editable) { %>
<div class="game-toggle">
	<select data-role="slider" class="game-private"<%= editable ? '' : ' disabled="disabled"' %>>
		<option value="false">{{.I "Public game" }}</option>
		<option value="true">{{.I "Private game" }}</option>
	</select>
</div>
<div class="game-toggle">
	<select data-role="slider" class="game-secret-email"<%= editable ? '' : ' disabled="disabled"' %>>
		<option value="false">{{.I "Public email" }}</option>
		<option value="true">{{.I "Secret email" }}</option>
	</select>
</div>
<div class="game-toggle">
	<select data-role="slider" class="game-secret-nickname"<%= editable ? '' : ' disabled="disabled"' %>>
		<option value="false">{{.I "Public nickname" }}</option>
		<option value="true">{{.I "Secret nickname" }}</option>
	</select>
</div>
<div class="game-toggle">
	<select data-role="slider" class="game-secret-nation"<%= editable ? '' : ' disabled="disabled"' %>>
		<option value="false">{{.I "Public nation" }}</option>
		<option value="true">{{.I "Secret nation" }}</option>
	</select>
</div>
<% } else { %>
<h3><%- model.get('Private') ? '{{.I "Private game" }}' : '{{.I "Public game" }}' %></h3>
<h3><%- model.get('SecretEmail') ? '{{.I "Secret email" }}' : '{{.I "Public email" }}' %></h3>
<h3><%- model.get('SecretNickname') ? '{{.I "Secret nickname" }}' : '{{.I "Public nickname" }}' %></h3>
<h3><%- model.get('SecretNation') ? '{{.I "Secret nation" }}' : '{{.I "Public nation" }}' %></h3>
<% } %>
<a href="#" class="game-member-button" data-role="button"><%- button_text %></a>
