<div class="map-container">
	<div class="map">
	</div>
</div>
<div class="panel-group" id="current_game">
</div>
<div class="sliders">
	<div class="slider-content hidden white" id="orders_slider">
		orders
	</div>
	<div class="slider-content hidden white" id="chats_slider">
		chats
	</div>
	<div class="slider-content hidden white" id="results_slider">
		results
	</div>
	<div class="slider-controls">
		<div>
			<a href="#" data-slider-id="chats_slider"><span class="glyphicon glyphicon-user"></span></a>
		</div>
		<div>
			<a href="#" data-slider-id="orders_slider"><span class="glyphicon glyphicon-hand-right"></span></a>
		</div>
		<div>
			<a href="#" data-slider-id="results_slider"><span class="glyphicon glyphicon-bell"></span></a>
		</div>
	</div>
</div>
