<div class="panel-heading accordion-toggle" data-toggle="collapse" data-parent="#<%- parentId %>" href="#game_controls_<%- model.cid %>">
	<div class="game-controls-buttons">
		<h4 class="panel-title">
			<div class="game-controls-right">
				<a class="btn btn-primary btn-sm previous-phase" title="{{.I "Back" }}" href="#">
					<span class="glyphicon glyphicon-step-backward"></span>
				</a>
				<a class="btn btn-primary btn-sm next-phase" title="{{.I "Forward" }}" href="#">
					<span class="glyphicon glyphicon-step-forward"></span>
				</a>
				<a class="btn btn-primary btn-sm last-phase" title="{{.I "Last" }}" href="#">
					<span class="glyphicon glyphicon-fast-forward"></span>
				</a>
				<span class="time-left"></span>
				<a class="btn btn-primary btn-sm commit-phase commit-button" title="{{.I "Commit" }}" href="#">
					<span class="glyphicon glyphicon-ok commit-button"></span>
				</a>
			</div>
			<div class="game-controls-left">
				<span class="unseen-messages"></span>
				<a class="btn btn-primary btn-sm view-chat" title="{{.I "Chat" }}" href="#">
					<span class="glyphicon glyphicon-user"></span>
				</a>
				<a class="btn btn-primary btn-sm view-orders" title="{{.I "Orders" }}" href="#">
					<span class="glyphicon glyphicon-hand-right"></span>
				</a>
				<a class="btn btn-primary btn-sm view-results" title="{{.I "Results" }}" href="#">
					<span class="glyphicon glyphicon-bell"></span>
				</a>
			</div>
		</h4>
	</div>
</div>
<div id="game_controls_<%- model.cid %>" class="game-controls collapse">
	<div class="panel-body">
		<div class="game-chat-container game-controls-container"></div>
		<div class="game-results-container game-controls-container"></div>
		<div class="game-orders-container game-controls-container"></div>
	</div>
</div>
