<h3><%- model.describe() %></h3>
<% if (editable) { %>
<select class="create-game-variant">
</select>
<select class="create-game-allocation-method">
</select>
<% } else { %>
<h3>{{.I "Variant" }}: <%- variantName(model.get('Variant')) %></h3>
<h3>{{.I "Allocation method" }}: <%- allocationMethodName(model.get('AllocationMethod')) %><%- (model.get('Member') != null && model.get('Member').PreferredNations != null) ? ': ' + model.get('Member').PreferredNations.join(', ') : '' %></h3>
<% } %>
<div data-role="collapsible-set" class="phase-types">
</div>
<% if (editable) { %>
<select data-role="slider" class="game-private"<%= editable ? '' : ' disabled="disabled"' %>>
	<option value="false">{{.I "Public" }}</option>
	<option value="true">{{.I "Private" }}</option>
</select>
<% } else { %>
<h3><%- model.get('Private') ? '{{.I "Private" }}' : '{{.I "Public" }}' %></h3>
<% } %>
<a href="#" class="game-member-button" data-role="button"><%- button_text %></a>
