<div class="map-container">
	<div class="map">
	</div>
</div>
<div class="panel-group" id="current-game">
</div>
<div class="sliders">
	<div class="slider-content hidden" id="orders-slider">
		orders
	</div>
	<div class="slider-content hidden" id="chats-slider">
	</div>
	<div class="slider-content hidden" id="results-slider">
		results
	</div>
	<div class="slider-controls">
		<div>
			<a href="#" data-slider-id="chats-slider"><span class="glyphicon glyphicon-user"></span></a>
		</div>
		<div>
			<a href="#" data-slider-id="orders-slider"><span class="glyphicon glyphicon-hand-right"></span></a>
		</div>
		<div>
			<a href="#" data-slider-id="results-slider"><span class="glyphicon glyphicon-bell"></span></a>
		</div>
	</div>
</div>
