<form role="form" onsubmit="return false;">
	<div class="form-group">
		<label for="user-held-deadlines">{{.I "Held deadlines" }}</label>
		<input disabled="disabled" type="text" class="form-control" id="user-held-deadlines" value="<%- model.get('HeldDeadlines') %>">
	</div>
	<div class="form-group">
		<label for="user-missed-deadlines">{{.I "Missed deadlines" }}</label>
		<input disabled="disabled" type="text" class="form-control" id="user-missed-deadlines" value="<%- model.get('MissedDeadlines') %>">
	</div>
	<div class="form-group">
		<label for="user-ranking">{{.I "Ranking" }}</label>
		<input disabled="disabled" type="text" class="form-control" id="user-ranking" value="<%- model.get('Ranking') %>">
	</div>
	<div class="form-group">
		<label for="user-nickname">{{.I "Nickname" }}</label>
		<input type="text" class="form-control user-nickname" id="user-nickname" value="<%- model.get('Nickname') %>" placeholder="{{.I "Nickname" }}">
	</div>
	<div class="form-group">
		<label for="user-message-email-disabled">{{.I "Disable message emails" }}</label>
		<input type="checkbox" class="form-control user-message-email-disabled" id="user-message-email-disabled"<%= model.get('MessageEmailDisabled') ? ' checked="checked"' : '' %>>
	</div>
	<div class="form-group">
		<label for="user-phase-email-disabled">{{.I "Disable phase emails" }}</label>
		<input type="checkbox" class="form-control user-phase-email-disabled" id="user-phase-email-disabled"<%= model.get('PhaseEmailDisabled') ? ' checked="checked"' : '' %>>
	</div>
	<button type="submit" class="save-button btn btn-default">{{.I "Update" }}</button>
</form>
<% if ('{{.Env}}' == 'development') { %>
<form role="form" action="/admin/become" method="post">
	<div class="form-group">
		<label for="become">{{.I "Become" }}</label>
		<input type="text" class="form-control become" name="become" id="become" value="" placeholder="{{.I "Become" }}">
	</div>
</form>
<% } %>
