<div class="navbar-header">
	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
		<span class="sr-only">{{.I "Toggle navigation" }}</span>
		<span class="glyphicon glyphicon-align-justify"></span>
	</button>
	<a class="navbar-brand" href="#">diplicity</a>
</div>
<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse navbar-ex1-collapse">
	<ul class="nav navbar-nav navbar-right">
		<% if (window.session.user.loggedIn()) { %>
		<li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> <%- '{{.I "Logout {0}" }}'.format(window.session.user.get('Email')) %></a></li>
		<% } else { %>
		<li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> {{.I "Login" }}</a></li>
		<% } %>
	</ul>
</div><!-- /.navbar-collapse -->		

