<link rel="import" href="/bower_components/paper-toggle-button/paper-toggle-button.html">
<link rel="import" href="/components/z-panel/z-panel.html">

<polymer-element name="game-config" attributes="config">
  <template>
	  <style>
			table {
				border-collapse: collapse;
				width: 100%;
			}
			td.label {
				width: 50%;
			}
			td {
				border: 1px solid #CFD8DC;
				padding: 0.35em;
			}
			caption {
				text-align: left;
				font-weight: bold;
			}
	  </style>
    <z-panel>
      <table>
				<template if="{{ config.name }}">
			  	<caption>{{ config.name }}</caption>
				</template>
				<template repeat="{{ k in keys(config) }}">
				  <template if="{{ k != 'name' }}">
            <tr>
    	      	<td class="label">
				    		{{ k }}
    	      	</td>
    	      	<td>
    	      		<paper-toggle-button checked="{{ config[k] }}"></paper-toggle-button>
    	      	</td>
    	      </tr>
					</template>
				</template>
    	</table>
			<content></content>
    </z-panel>
	</template>
	<script>
		Polymer({
			keys: _.keys,
		});
	</script>
</polymer-element>





