<html{{if .Appcache }} manifest="/diplicity.appcache"{{end}}>
	<head>
		<title>Diplicity</title>
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
		<link rel="shortcut icon" href="/favicon.ico" />
		<link href="/css/{{.Version}}/all" rel="stylesheet" media="screen">
		<script src="/js/{{.Version}}/all" type="text/javascript"></script>
	</head>
	<body>
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="top_navigation">
		</nav>
		<div id="content">
		</div>
		<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation" id="bottom_navigation">
		</nav>
	</body>
</html>
