<html manifest="/diplicity.appcache">
	<head>
		<title>Diplicity</title>
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
		<link rel="shortcut icon" href="/favicon.ico" />
		<link href="/css/{{.Version}}/all" rel="stylesheet" media="screen">
		<script src="/js/{{.Version}}/all" type="text/javascript"></script>
	</head>
	<body>
		<div data-role="page">
			<div data-role="content">
				<div class="map-container">
				  <div class="map">
					{{.Inline "img/maps/standard.svg"}}
					</div>
				</div>
				<pre id="log"></pre>
			</div>
			<div data-role="footer" data-id="foo1" data-position="fixed">
				<div data-role="navbar">
					<ul>
						<li><a class="ui-btn-active ui-state-persist">Map</a></li>
						<li><a>Chat</a></li>
						<li><a>Orders</a></li>
						<li><a>Results</a></li>
					</ul>
				</div>
			</div>
		</div>
	</body>
</html>
