<link rel="import" href="/bower_components/core-scaffold/core-scaffold.html">
<link rel="import" href="/bower_components/core-header-panel/core-header-panel.html">
<link rel="import" href="/bower_components/core-toolbar/core-toolbar.html">
<link rel="import" href="/bower_components/core-animated-pages/core-animated-pages.html">
<link rel="import" href="/bower_components/core-menu/core-menu.html">
<link rel="import" href="/bower_components/core-item/core-item.html">
<link rel="import" href="/bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="/bower_components/core-animated-pages/transitions/cross-fade.html">
<link rel="import" href="/bower_components/app-router/app-router.html">

<polymer-element name="diplicity-app">
  <template>
	  <style>
			core-toolbar a {
				text-decoration: none;
				font-size: x-large;
			}
		</style>
    <core-scaffold flex>
		  <core-header-panel navigation flex mode="seamed">
			  <core-toolbar>
				  <div flex>
						<a href="/">
							diplicity
						</a>
				  </div>
		    </core-toolbar>
				<core-menu>
					<template if="{{ user.Id }}">
						<a href="/logout">
							<core-item icon="lock-outline" label="Logout"></core-item>
						</a>
						<core-item icon="settings" label="{{ user.Email }}"></core-item>
					</template>
					<template if="{{ !user.Id }}">
					<a href="{{ loginUrl }}">
				      <core-item icon="lock-open" label="Login"></core-item>
						</a>
					</template>
				</core-menu>
			</core-header-panel>
	    <div tool flex>
				<paper-tabs valueattr="path" selected="{{ path }}" self-end>
				  <paper-tab path="/games/mine">My games</paper-tab>
					<paper-tab path="/games/other">Other games</paper-tab>
					<paper-tab path="/games/create">Create game</paper-tab>
      	</paper-tabs>
      </div>
			<div flex>
				<app-router id="router" mode="pushstate" core-animated-pages transitions="cross-fade">
				  <app-route path="/games/mine">
					  <template>
						  <div cross-fade>
						    Mine
							</div>
						</template>
				  </app-route>
				  <app-route path="/games/other">
					  <template>
						  <div cross-fade>
						    Other
							</div>
						</template>
				  </app-route>
				  <app-route path="/games/create">
					  <template>
						  <div cross-fade>
						    Create
							</div>
						</template>
				  </app-route>
				  <app-route path="*" redirect="/games/mine"></app-route>
        </app-router>
			</div>
		</core-scaffold>
	</template>
	<script>
		Polymer({
			serverMessage: function(message) {
				switch (message.Object.URI) {
					case '/user':
					  this.user = message.Object.Data;
            break;
				}
				console.log('message', message);
			},
			connectWebSocket: function() {
				var that = this;
				var socketUrl = "";
				if (window.location.protocol == 'http:') {
					socketUrl = "ws://";
				} else if (window.location.protocol == 'https:') {
					socketUrl = "wss://";
				} else {
				  throw "Unknown protocol " + window.location.protocol;
				}
				socketUrl += window.location.host + "/ws";
				if (that.token != null) {
					socketUrl += "?token=" + that.token.Encoded;
				}
				if (that.socket != null) {
					that.socket.close();
				}
				that.socket = new WebSocket(socketUrl);
				that.socket.onerror = function(options) {
					console.log('error', options);
				};
				that.socket.onmessage = function(options) {
					that.serverMessage(JSON.parse(options.data));
				};
				that.socket.onopen = function(options) {
					that.socket.send(JSON.stringify({"Type":"Subscribe","Object":{"URI":"/user"}}));
				};
				that.socket.onclose = function(options) {
					console.log('close', options);
				};
			},
			fetchToken: function() {
				var that = this;
        $.ajax('/token', {
					success: function(data) {
						that.token = data;
						that.connectWebSocket();
					},
				});
			},
			pathChanged: function() {
				this.$.router.go(this.path);
			},
			ready: function() {
				this.user = {"Id": ""};
				this.token = null;
				this.loginUrl = window.location.protocol + "//" + window.location.host + "/login?return_to=" + encodeURIComponent(window.location.href);
				this.path = window.location.pathname;
				if (this.path == "/") {
					this.path = "/games/mine";
				}
				this.fetchToken();
			},
		});
	</script>
</polymer-element>

