<link rel="import" href="/bower_components/core-collapse/core-collapse.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/paper-shadow/paper-shadow.html">
<link rel="import" href="/components/game-list-element/game-list-element.html">

<polymer-element name="subscribing-game-list" attributes="subscriber joiner leaver path user">
  <template>
	  <template repeat="{{ game in games }}">
		  <game-list-element user="{{ user }}" joiner="{{ joiner }}" leaver="{{ leaver }}" game="{{ game }}"></game-list-element>
		</template>
	</template>
	<script>
		Polymer({
			toggleOpen: function() {
				this.opened = !this.opened;
			},
			ready: function() {
				this.games = [];
				this.gamesSubscription = {
					get: function() {
						return this.games;
					}.bind(this),
					set: function(g) {
						this.games = g;
					}.bind(this),
				};
				this.subscriber.subscribe(this.path, this.gamesSubscription);
			},
			detached: function() {
				this.subscriber.unsubscribe(this.path, this.gamesSubscription);
			},
		});
	</script>
</polymer-element>


