<link rel="import" href="/bower_components/core-collapse/core-collapse.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/paper-shadow/paper-shadow.html">
<link rel="import" href="/components/game-list-element/game-list-element.html">

<polymer-element name="subscribing-game-list" attributes="subscriber path">
  <template>
	  <template repeat="{{ game in games }}">
		  <game-list-element game="{{ game }}"></game-list-element>
		</template>
	</template>
	<script>
		Polymer({
			message: function(msg) {
				if (msg.Type == 'Fetch') {
					this.games = msg.Object.Data;
				}
			},
			toggleOpen: function() {
				this.opened = !this.opened;
			},
			ready: function() {
				var that = this;
				that.games = [];
				_.bindAll(that, 'message');
				that.subscriber.subscribe(that.path, that.message);
			},
			detached: function() {
				this.subscriber.unsubscribe(this.path, this.message);
			},
		});
	</script>
</polymer-element>


