.map-heading {
	font-size: larger;
	z-index: 200;
	position: relative;
}
.shortener {
	font-size: large;
	margin: 5px;
	padding-bottom: 3px;
	padding-right: 2px;
	padding-left: 2px;
	position: relative;
	z-index: 200;
	background-color: white;
	border-radius: 4px;
}
.game-state-heading {
	position: relative;
}
.urgency-bar-green {
	position: absolute;
	height: 24px;
	display: none;
	background-color: #54EBC5;
}
.urgency-bar-green:after, .urgency-bar:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.urgency-bar-green:after {
	border-left-color: #54EBC5;
	border-width: 12px;
	margin-top: -12px;
}
.urgency-bar-green:before {
	border-left-color: #54EBC5;
	border-width: 12px;
	margin-top: -12px;
}
.urgency-bar-red {
	position: absolute;
	height: 24px;
	display: none;
	background-color: #EB547A;
}
.urgency-bar-red:after, .urgency-bar:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.urgency-bar-red:after {
	border-left-color: #EB547A;
	border-width: 12px;
	margin-top: -12px;
}
.urgency-bar-red:before {
	border-left-color: #EB547A;
	border-width: 12px;
	margin-top: -12px;
}
.channel-messages-container {
	background-color: #f5f5f5;
	position: relative;
}
.chat-channel {
	position: relative;
}
.channel-messages {
	overflow-y: auto;
	background-color: #f5f5f5;
	position: relative;
	top: -27px;
}
.commit-button {
	visibility: hidden;
}
.view-orders {
	visibility: hidden;
}
.view-results {
	visibility: hidden;
}
.phase-step {
	visibility: hidden;
}
.game-controls-left .btn {
	position: relative;
	z-index: 300;
}
.game-controls-right .btn {
	position: relative;
	z-index: 300;
}
.game-controls form {
	margin-bottom: 0px;
}
.game-controls pre {
	margin: 0px;
}
.unseen-messages {
	position: absolute;
	font-size: x-small !important;
	left: 15px;
	top: -4px;
	background-color: rgba(255, 0, 0, 0.8);
	border-radius: 50%;
	padding: 2px;
}
.game-controls-left .unseen-messages {
	z-index: 400;
	left: 29px;
}
#chat-channels .unseen-messages {
	z-index: 400;
	top: -1;
	left: 1px;
}
.game-controls-left {
	position: relative;
	z-index: 200;
	margin-right: 150px;
}
.game-controls-right {
	position: relative;
	z-index: 200;
	float: right;
}
.game-description-container {
	position: relative;
}
.appcache-progress {
	display: none;
}
.progress {
	margin-bottom: 0px;
	height: 1px;
}
table.chat-messages {
	margin-bottom: 0px;
}
.offline-tag {
	font-size: small;
	float: right;
	color: red;
}
.chat-channel-name {
	text-align: left;
	padding-left: 6px;
}
.game-chat {
	background-color: #f5f5f5;
}
.bottom-aligned {
	position: absolute;
	bottom: 0;
}
.game-controls .panel-body {
	padding: 0px;
}
.create-message-button {
	width: 60px;
	float: right;
}
.create-message-form {
	margin: 0px;
}
.game .panel-body {
	padding: 0px;
}
.create-message-form textarea {
	height: 35px;
}
.chat-messages tbody tr td {
	padding: 0px;
	padding-left: 3px;
}
.chat-messages pre {
	padding: 0px;
	margin-bottom: 0px;
}
.new-message-container {
	margin-right: 60px;
}
.slider-controls span {
	background-color: rgba(0,0,0,0.15);
	padding: 7px;
	border-radius: 3px;
}
.chat-sender {
	display: inline-block;
	padding-left: 0.4em;
	padding-right: 0.4em;
	width: 70px;
	font-weight: bold;
}
.chat-sender img {
	height: 1em;
}
.chat-body {
	word-break: normal;
	padding: 0px;
	display: inline;
	margin: 0px;
}
.create-channel-form div {
	vertical-align: top;
}
.new-message-body {
	width: 100%;
}
.game-description {
	display: block;
	overflow: hidden;
}
.white {
	background-color: white;
}
.slider-controls span {
	margin: 2px;
	margin-left: 6px;
	font-size: x-large;
}
#content {
	width: 100%;
	height: 100%;
	position: relative;
}
.prioritize {
	text-align: left;
}
.navbar-toggle {
	margin: 0px;
}
.navbar {
	margin-bottom: 0px;
	min-height: 35px;
}
.prioritize .glyphicon {
	margin-left: 6px;
}
#current-game {
	position: relative;
	z-index: 100;
}
.btn-sm, .btn-xs {
	padding: 2px 5px;
}
.game-control-container {
	z-index: 100;
	position: relative;
	margin-top: -27px;
}
.game-control-container > * {
	padding-top: 27px;
}
.game-controls-container {
	position: relative;
	margin-top: 6px;
}
.game-controls-container span.glyphicon {
	padding-bottom: 6px;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
}
#current-game .panel {
	margin-top: 0px;
}
.panel-heading {
	padding: 3px 3px 6px;
}
#bottom-navigation {
	min-height: 0px;
}
.panel-title {
	white-space: nowrap;
}
body {
	margin-top: 35;
}
.view-game {
	float: right;
	margin-top: -1px;
}
.view-game a {
	position: relative;
	z-index: 100;
	zoom: 0.9;
}
.view-game span {
	font-size: large;
	margin-bottom: 5px;
}
.navbar-brand {
	padding: 0px;
	font-weight: bold;
	font-size: x-large;
}
.navbar-brand img {
	height: 35px;
}
.panel-group .panel {
	margin-bottom: -5px;
}
.nav li a {
	padding: 0px 15px;
}
.panel-group {
	margin-bottom: 4px;
}
.game-players {
	margin-bottom: 0px;
}
.map-container {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
}
.map {
	-webkit-transform: translate3d(0,0,0) scale3d(1,1,1);
	position: absolute;
	left: 0px;
	top: 0px;
}
