.game-toggle .ui-slider-switch { 
	width: 12em;
}
.map-container {
	width: 100%;
	height: 100%;
	position: absolute;
}
.map {
	-webkit-transform: translate3d(0,0,0) scale3d(1,1,1);
	position: absolute;
	left: 0;
	top: 0;
}
.jqmText{
	text-align: center;
}

