.commit-button {
	visibility: hidden;
}
.view-orders {
	visibility: hidden;
}
.view-results {
	visibility: hidden;
}
.phase-step {
	visibility: hidden;
}
.game-controls-right .btn {
	position: relative;
	z-index: 100;
}
.game-controls form {
	margin-bottom: 0px;
}
.game-controls pre {
	margin: 0px;
}
.unseen-messages {
	position: absolute;
	font-size: x-small !important;
	left: 1.5em;
	top: -0.5em;
	background-color: rgba(255, 0, 0, 0.8);
	border-radius: 50%;
	padding: 2px;
}
.chat-channel-title-container .unseen-messages {
	display: none;
}
.game-controls-left .unseen-messages {
	left: 0px;
}
.chat-channel-title-container {
	position: relative;
}
.game-controls-left {
	position: relative;
}
.game-description-container {
	position: relative;
}
.chat-sender {
	font-size: smaller;
}
.appcache-progress {
	display: none;
}
.progress {
	margin-bottom: 0px;
	height: 1px;
}
table.chat-messages {
	margin-bottom: 0px;
}
.offline-tag {
	font-size: small;
	float: right;
	color: red;
}
.game-chat-container {
	display: none;
}
.game-results-container {
	display: none;
}
.game-orders-container {
	display: none;
}
.game-controls-right {
	float: right;
}
.bottom-aligned {
	position: absolute;
	bottom: 0;
}
.channel .panel-body {
	padding: 0px;
}
.game-controls .panel-body {
	padding: 0px;
}
.create-message-button {
	width: 60px;
	float: right;
}
.create-message-form {
	margin: 0px;
}
.game .panel-body {
	padding: 0px;
}
.create-message-form textarea {
	height: 35px;
}
.chat-messages tbody tr td {
	padding: 0px;
	padding-left: 3px;
}
.chat-messages pre {
	padding: 0px;
	margin-bottom: 0px;
}
.new-message-container {
	margin-right: 60px;
}
.chat-sender {
	white-space: nowrap;
	width: 1%;
}
.channel {
	max-height: 80%;
	overflow-y: auto;
}
.slider-controls span {
	background-color: rgba(0,0,0,0.15);
	padding: 7px;
	border-radius: 3px;
}
.create-channel-form div {
	vertical-align: top;
}
.new-message-body {
	width: 100%;
}
.game-description {
	display: block;
	overflow: hidden;
}
.white {
	background-color: white;
}
.slider-controls span {
	margin: 2px;
	margin-left: 6px;
	font-size: x-large;
}
#content {
	width: 100%;
	overflow: auto;
	height: 100%;
	position: relative;
}
.prioritize {
	text-align: left;
}
.navbar-toggle {
	margin: 0px;
}
.navbar-header .menu-dropdown {
	font-size: medium;
}
.navbar {
	margin-bottom: 0px;
	min-height: 35px;
}
.prioritize .glyphicon {
	margin-left: 6px;
}
#current-game {
	position: relative;
	z-index: 100;
}
.game-controls-buttons {
	margin-top: -2px;
	margin-bottom: -2px;
}
.btn-sm, .btn-xs {
	padding: 2px 5px;
}
.game-controls-buttons span {
	font-size: small;
	margin-bottom: 5px;
}
#current-game .panel {
	margin-top: 0px;
}
.panel-heading {
	padding: 3px 3px;
}
#bottom-navigation {
	min-height: 0px;
}
.panel-title {
	white-space: nowrap;
}
body {
	margin-top: 35;
}
table {
	font-size: small;
}
.view-game {
	float: right;
	margin-top: -1px;
}
.view-game a {
	position: relative;
	z-index: 100;
	zoom: 0.9;
}
.view-game span {
	font-size: small;
	margin-bottom: 5px;
}
.navbar-brand {
	padding: 0px;
	font-weight: bold;
	font-size: x-large;
}
.navbar-brand img {
	height: 35px;
}
.panel-group .panel {
	margin-bottom: -5px;
}
.nav li a {
	padding: 0px 15px;
}
.panel-group {
	margin-bottom: 4px;
}
.game-players {
	margin-bottom: 0px;
}
.map-container {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
}
.map {
	-webkit-transform: translate3d(0,0,0) scale3d(1,1,1);
	position: absolute;
	left: 0px;
	top: 0px;
}
