.chat-sender {
	font-size: smaller;
}
table.chat-messages {
	margin-bottom: 0px;
}
.offline-tag {
	font-size: small;
	float: right;
	color: red;
}
.game-chat-container {
	display: none;
}
.game-results-container {
	display: none;
}
.game-orders-container {
	display: none;
}
.game-controls-right {
	float: right;
}
.bottom-aligned {
	position: absolute;
	bottom: 0;
}
.channel .panel-body {
	padding: 0px;
}
.game-controls .panel-body {
	padding: 0px;
}
.create-message-button {
	width: 60px;
	float: right;
}
.chat-messages tbody tr td {
	padding: 0px;
	padding-left: 3px;
}
.chat-messages pre {
	padding: 0px;
	margin-bottom: 0px;
}
.new-message-container {
	margin-right: 60px;
}
.chat-sender {
	white-space: nowrap;
	width: 1%;
}
.channel {
	max-height: 80%;
	overflow-y: auto;
}
.slider-controls span {
	background-color: rgba(0,0,0,0.15);
	padding: 7px;
	border-radius: 3px;
}
.create-channel-form div {
	vertical-align: top;
}
.new-message-body {
	width: 100%;
}
.game-description {
	display: block;
	overflow: hidden;
}
.white {
	background-color: white;
}
.slider-controls span {
	margin: 2px;
	margin-left: 6px;
	font-size: x-large;
}
#content {
	width: 100%;
	overflow: auto;
	height: 100%;
	position: relative;
}
.prioritize {
	text-align: left;
}
.prioritize .glyphicon {
	margin-left: 6px;
}
#current-game {
	position: relative;
	z-index: 100;
}
.game-controls-buttons {
	margin-top: -7px;
	margin-bottom: -7px;
}
.game-controls-buttons span {
	font-size: large;
	margin-bottom: 5px;
}
#current-game .panel {
	margin-top: 0px;
}
#bottom-navigation {
	min-height: 0px;
}
.panel-title {
	white-space: nowrap;
}
body {
	margin-top: 51px;
}
.view-game {
	float: right;
	margin-bottom: -7px;
	margin-top: -3px;
}
.view-game a {
	zoom: 0.9;
}
.view-game span {
	font-size: large;
	margin-bottom: 5px;
}
.navbar-brand {
	padding: 0px;
	font-weight: bold;
	font-size: x-large;
}
.panel-group {
	margin-bottom: 4px;
}
.game-players {
	margin-bottom: 0px;
}
.map-container {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
}
.map {
	-webkit-transform: translate3d(0,0,0) scale3d(1,1,1);
	position: absolute;
	left: 0px;
	top: 0px;
}
