.sliders {
	position: absolute;
	height: 100%;
}
.slider-controls {
	display: inline-block;
	position: relative;
}
.slider-content {
	position: relative;
	height: 100%;
	z-index: 1000;
	float: left;
}
