<link rel="import" href="/bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="/components/subscribing-game-list/subscribing-game-list.html">
<link rel="import" href="/components/path-selector/path-selector.html">

<polymer-element name="other-games" attributes="subscriber" noscript>
  <template>
	  <style>
			paper-tabs::shadow > * {
				height: 28px;
			}
			paper-tabs {
				height: 28px;
			}
	  </style>
		<paper-tabs valueattr="path" selected="{{ path }}" self-end>
		  <paper-tab path="/games/other/open">Open</paper-tab>
		  <paper-tab path="/games/other/closed">Closed</paper-tab>
		  <paper-tab path="/games/other/finished">Finished</paper-tab>
		</paper-tabs>
		<path-selector path="{{ path }}">
		  <div path="/games/other/open">
				<div cross-fade>
					<template if="{{ path == '/games/other/open' }}">
					  <subscribing-game-list subscriber="{{ subscriber }}" path="/games/open"></subscribing-game-list>
					</template>
				</div>
			</div>
			<div path="/games/other/closed">
				<div cross-fade>
					<template if="{{ path == '/games/other/closed' }}">
					  <subscribing-game-list subscriber="{{ subscriber }}" path="/games/closed"></subscribing-game-list>
					</template>
				</div>
			</div>
		  <div path="/games/other/finished">
				<div cross-fade>
					<template if="{{ path == '/games/other/finished' }}">
					  <subscribing-game-list subscriber="{{ subscriber }}" path="/games/finished"></subscribing-game-list>
					</template>
				</div>
			</div>
		</path-selector>
	</template>
</polymer-element>




