<link rel="import" href="/bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="/components/subscribing-game-list/subscribing-game-list.html">

<polymer-element name="other-games" attributes="subscriber user joiner leaver tab" noscript>
  <template>
	  <style>
			paper-tabs::shadow > * {
				height: 1.75em;
			}
			paper-tabs {
				height: 1.75em;
			}
	  </style>
		<paper-tabs valueattr="route" selected="{{ tab }}">
	    <paper-tab route="/games/other/open">Open</paper-tab>
	    <paper-tab route="/games/other/closed">Closed</paper-tab>
	    <paper-tab route="/games/other/finished">Finished</paper-tab>
		</paper-tabs>
		<core-animated-pages valueattr="route" selected="{{ tab }}" transitions="cross-fade">
			<div route="/games/other/open" cross-fade>
				<template if="{{ path == '/games/other' || path == 0 }}">
				  <subscribing-game-list joiner="{{ joiner }}" leaver="{{ leaver }}" user="{{ user }}" subscriber="{{ subscriber }}" path="/games/open"></subscribing-game-list>
				</template>
			</div>
			<div route="/games/other/closed" cross-fade>
				<template if="{{ path == '/games/other/closed' }}">
				  <subscribing-game-list joiner="{{ joiner }}" leaver="{{ leaver }}" user="{{ user }}" subscriber="{{ subscriber }}" path="/games/closed"></subscribing-game-list>
				</template>
			</div>
			<div route="/games/other/finished" cross-fade>
				<template if="{{ path == '/games/other/finished' }}">
				  <subscribing-game-list joiner="{{ joiner }}" leaver="{{ leaver }}" user="{{ user }}" subscriber="{{ subscriber }}" path="/games/finished"></subscribing-game-list>
				</template>
			</div>
		</core-animated-pages>
	</template>
</polymer-element>




