<link rel="import" href="/components/z-panel/z-panel.html">

<polymer-element name="game-list-element" attributes="game">
  <template>
	  <style>
			paper-button.toggle {
				width: 99%;
				background: #CFD8DC;
				margin: 5px;
			}
			z-panel {
				width: 99%;
			}
			#game-description {
				text-transform: none;
			}
		</style>
		<paper-button class="toggle" on-click="{{ toggleOpen }}" raised>
		  <span id="game-description">
				{{ game.Phase.Season }}, {{ game.Phase.Year }}, {{ game.Phase.Type }}
			</span>
		</paper-button>
		<core-collapse opened="{{ opened }}">
		  <z-panel>
        {{ jsonString }}
			</z-panel>
		</core-collapse>
	</template>
	<script>
		Polymer({
			toggleOpen: function() {
				this.opened = !this.opened;
			},
			stringify: JSON.stringify,
			computed: {
				jsonString: 'stringify(game)',
			},
		});
	</script>
</polymer-element>



