<link rel="import" href="/bower_components/core-animated-pages/core-animated-pages.html">
<link rel="import" href="/bower_components/paper-tabs/paper-tabs.html">

<polymer-element name="path-selector" attributes="path">
  <template>
		<core-animated-pages selected="{{ path }}" valueattr="path" transitions="cross-fade">
		  <content id="content"></content>
    </core-animated-pages>
	</template>
	<script>
		Polymer({
			pathChanged: function() {
				if (!this.stop && this.path != 0 && window.location.pathname != this.path) {
					window.history.pushState({ path: this.path }, this.path, this.path);
				}
			},
			parseLocation: function() {
				var bestMatch = null;
				var bestReg = null;
				for (var i = 0; i < this.paths.length; i++) {
					var match = new RegExp(this.paths[i]).exec(window.location.pathname);
					if (match != null && (bestMatch == null || match[0].length > bestMatch.length)) {
						bestMatch = match[0];
						bestReg = this.paths[i];
					}
				}
				this.exactMatch = bestMatch.length == window.location.pathname.length;
				if (bestReg != null) {
					this.stop = true;
					this.path = bestReg;
					this.stop = false;
				}
			},
			ready: function() {
				this.paths = [];
				this.pathMap = {};
				this.stop = false;
				$(this.$.content.getDistributedNodes()).each(function(i, el) { 
					this.paths.push($(el).attr('path'));
					this.pathMap[$(el).attr('path')] = true;
				}.bind(this));
				$(window).on('popstate', this.parseLocation.bind(this));
				this.parseLocation();
			},
		});
	</script>
</polymer-element>





