<link rel="import" href="/bower_components/core-animated-pages/core-animated-pages.html">
<link rel="import" href="/bower_components/paper-tabs/paper-tabs.html">

<polymer-element name="path-selector" attributes="path">
  <template>
		<core-animated-pages selected="{{ path }}" valueattr="path" transitions="cross-fade">
		  <content id="content"></content>
    </core-animated-pages>
	</template>
	<script>
		Polymer({
			pathChanged: function(oldVal, newVal) {
				if (oldVal != null) {
					if (this.path != 0 && window.location.pathname != this.path) {
						window.history.pushState({ path: this.path }, this.path, this.path);
					}
				}
			},
	    bestPath: function() {
				var bestMatch = null;
				var bestReg = null;
				for (var path in this.paths) {
					var match = new RegExp(path).exec(window.location.pathname);
					if (match != null && (bestMatch == null || match[0].length > bestMatch.length)) {
						bestMatch = match[0];
						bestReg = path;
					}
				}
				return bestReg;
			},
			parseLocation: function() {
				var best = this.bestPath();
				if (best != null) {
					this.path = best;
				}
			},
			ready: function() {
				this.paths = {};
				this.filteredPath = "";
				$(this.$.content.getDistributedNodes()).each(function(i, el) { 
					var pathAttr = $(el).attr('path');
					if (pathAttr != null) {
						this.paths[pathAttr] = true;
					}
				}.bind(this));
				$(window).on('popstate', this.parseLocation.bind(this));
				this.parseLocation();
			},
		});
	</script>
</polymer-element>





