.contentScreen{
	position: absolute;
	width:800px;
	background-color: #ffffff;

}
#titleView{
	position:relative;
	height:50px;
	width:inherit;
	top:0px;
	left:0px;
	text-align: center;
}
#titleView h1{
	margin-top: -5px;
}
#middleLayout{
	position:relative;
	height:500px;
}
#leftMenuView{
	position:relative;
	width:100px;
	height:inherit;
	left:0px;
	top:0px;
}
.leftButton{
	position:relative;
	width:102px;
	height:50px;
	margin-left:-4px;
}
#itemListView{
	position:relative;
	width:98px;
	height:293px;
	margin-left:-4px;
	buffer-top:20px;
	border:solid;
	background-color:#c0c0c0;
	
}
#mapView{
	background-image:url(../img/maps/standard.svg);
	position:absolute;
	top:0px;
	left:100px;
    background-size:contain;
    width:591px;
    height:inherit;
    background-repeat:no-repeat;
    background-color:#ffcc99;
}
#bottomMenuView{
	position:relative;
	width:inherit;
	height:50px;
	left:100px;
	margin-left:5px;
}
.bottomButton{
	position:relative;
	width:150px;
	height:25px;
	text-align: center;
	margin-left:-6px;
}
