<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/paper-toggle-button/paper-toggle-button.html">
<link rel="import" href="/components/z-panel/z-panel.html">
<link rel="import" href="/components/game-config/game-config.html">

<polymer-element name="create-game" attributes="creator">
  <template>
	  <style>
			paper-button {
				width: 100%;
				margin-bottom: 0.5em;
				text-transform: none !important;
			}
			paper-slider {
				width: 100%;
				height: 1em;
			}
			paper-slider::shadow #sliderContainer {
				height: 1em;
				margin: 0px;
			}
			paper-slider::shadow paper-input::shadow paper-input-decorator {
				padding: 0px;
			}
			table {
				border-collapse: collapse;
				width: 100%;
			}
			td.label {
				width: 50%;
			}
			td.deadline-unit {
				width: 0.5em;
			}
			li {
				border: 1px solid #CFD8DC;
				padding: 0.35em;
			}
			ol {
				margin: 0px; 
				padding: 0px;
				list-style-position: inside;
			}
			td {
				border: 1px solid #CFD8DC;
				padding: 0.35em;
			}
			caption {
				text-align: left;
				font-weight: bold;
			}
	  </style>
		<z-panel>
		  <table id="optionTable">
				<tr>
					<td class="label">
						Private
					</td>
					<td>
						<paper-toggle-button checked="{{ game.Private }}"></paper-toggle-button>
					</td>
				</tr>
				<tr>
					<td class="label">
						Variant
					</td>
					<td>
						<select value="{{ variant }}">
							<template repeat="{{ v in orderedVariants }}">
							<option value="{{ v.Name }}">{{ v.Name }}</option>
							</template>
						</select>
					</td>
				</tr>
				<tr>
					<td class="label">
						Allocation method
					</td>
					<td>
						<select value="{{ game.AllocationMethod }}">
							<template repeat="{{ m in orderedAllocationMethods }}">
							  <option value="{{ m.Name }}">{{ m.Name }}</option>
							</template>
						</select>
					</td>
				</tr>
				<template if="{{ game.AllocationMethod == 'Preferences' }}">
				  <tr>
						<td>
							Preferences
						</td>
						<td>
							<core-drag-drop></core-drag-drop>
							<ol id="preferences-list">
								<template repeat="{{ nation in game.nations }}">
								  <li on-click="{{ bumpNation }}">{{ nation }}</li>
								</template>
							</ol>
						</td>
				  </tr>
			  </template>
			</table>
			<game-config config="{{ game.NonCommitConsequences }}"></game-config>
			<game-config config="{{ game.NMRConsequences }}"></game-config>
		</z-panel>
		<template repeat="{{ privacyConfig in values(game.PrivacyConfigs) }}">
		  <game-config config="{{ privacyConfig }}">
		    <template if="{{ privacyConfig.name == 'Before' }}">
		      <game-config config="{{ game.PressConfigs.Before }}" game="{{ game }}"></game-config>
		    </template>
		    <template if="{{ privacyConfig.name == 'During' }}" repeat="{{ pressConfig in values(game.PressConfigs) }}">
		      <template if="{{ pressConfig.name }}">
					  <game-config config="{{ pressConfig }}" game="{{ game }}">
					    <game-config config="{{ game.deadlineConfigs[pressConfig.name] }}"></game-config>
					  </game-config>
		      </template>
		    </template>
		    <template if="{{ privacyConfig.name == 'After' }}">
		      <game-config config="{{ game.PressConfigs.After }}" game="{{ game }}"></game-config>
		    </template>
		  </game-config>
		</template>
		<paper-button on-click="{{ createGame }}" raised>Create</paper-button>
	</template>
	<script>
		Polymer({
			deadlineUnitTypes: [
			  {
					name: "minutes",
					f: 1,
					m: 60,
				},
				{
					name: "hours",
					f: 60,
					m: 24,
				},
				{
					name: "days",
					f: 60 * 24,
					m: 7,
				},
				{
					name: "weeks",
					f: 60 * 24 * 7,
					m: 4,
				},
				{
					name: "months",
					f: 60 * 24 * 30,
					m: 12,
				},
				{
					name: "years",
					f: 60 * 24 * 365,
					m: 100,
				},
			],
			bumpNation: function(ev) {
				var clicked = ev.target.innerText;
				var currentList = [];
				var before = null;
				var last = null;
				$(this.$.optionTable.querySelector('#preferences-list')).children('li').each(function(index, el) {
					if (el.innerText == clicked) {
						before = last;
					}
					currentList.push(el.innerText);
					last = el.innerText;
				});
				if (before != null) {
					currentList = _.collect(currentList, function(nation) {
						if (nation == clicked) {
							return before;
						} else if (nation == before) {
							return clicked;
						} else {
							return nation;
						}
					});
				}
				$(this.$.optionTable.querySelector('#preferences-list')).children('li').each(function(index, el) {
					el.innerText = currentList[index];
				});
			},
			defaultConsequenceConfig: function(name) {
				return {
					name: name,
					ReliabilityHit: true,
					NoWait: true,
					Surrender: true,
				};
			},
			defaultDeadlineConfig: function() {
				return {
					deadlineUnit: {
						name: 'hours',
						f: 60,
						m: 24,
					},
					deadlineValue: 24,
				};
			},
			defaultPressConfig: function(name) {
				if (name == 'After' || name == 'Before') {
					name = '';
				}
				return {
					name: name,
					PrivatePress: true,
					GroupPress: false,
					ConferencePress: true,
				};
			},
			defaultPrivacyConfig: function(name) {
				return {
					name: name,
					SecretNation: false,
					SecretNickname: false,
					SecretEmail: true,
				};
			},
			ready: function() {
				this.game = {
				  AllocationMethod: "Random",
					Variant: "Classical",
					Nations: [],
				};
				this.variant = 'Classical';
			},
			orderedVariants: OrderedVariants,
			orderedAllocationMethods: OrderedAllocationMethods,
			unitChanged: function(ev) {
				var unit = _.find(this.deadlineUnitTypes, function(unitType) {
					return unitType.name == ev.target.value;
				});
				console.log(unit);
				this.game.deadlineConfigs[$(ev.target).attr('data-phase-type')].deadlineUnit = unit;
			},
			createGame: function() {
				this.game.Deadlines = {};
				_.each(this.game.deadlineConfigs, function(deadlineConfig, phaseName) {
					this.game.Deadlines[phaseName] = deadlineConfig.deadlineValue * deadlineConfig.deadlineUnit.f;
				}.bind(this));
				$(this.$.optionTable.querySelector('#preferences-list')).children().each(function(index, el) {
					console.log(el.innerText);
				});
				/*
				this.creator.create(this.game);
				*/
			},
			stringify: JSON.stringify,
			values: _.values,
			variantChanged: function() {
				this.game.Variant = this.variant;
				this.game.PressConfigs = _.reduce(["Before"].concat(Variants[this.variant].PhaseTypes).concat(["After"]), function(memo, phaseTypeName) {
					memo[phaseTypeName] = this.defaultPressConfig(phaseTypeName);
					return memo;
				}.bind(this), {});
				this.game.PrivacyConfigs = _.reduce(["Before", "During", "After"], function(memo, stageTypeName) {
					memo[stageTypeName] = this.defaultPrivacyConfig(stageTypeName);
					return memo;
				}.bind(this), {});
				this.game.deadlineConfigs = _.reduce(Variants[this.variant].PhaseTypes, function(memo, phaseTypeName) {
					memo[phaseTypeName] = this.defaultDeadlineConfig();
					return memo;
				}.bind(this), {});
				this.game.NonCommitConsequences = this.defaultConsequenceConfig("Not committing");
				this.game.NMRConsequences = this.defaultConsequenceConfig("Not committing + NMR");
				this.game.nations = Variants[this.variant].Nations;
			},
		});
	</script>
</polymer-element>



